body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 100px;
  box-sizing: border-box;
}
.logo img {
  max-width: 150px;
  padding: 30px 100px;
}
.review {
  text-align: center;
  padding: 100px;
}
.review h3 {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 0;
}

form p {
  padding: 30px 0;
  font-size: 1.2rem;
}

.stars {
  padding-bottom: 30px;
}
.stars .fas.fa-star {
  font-size: 30px;
  padding: 5px;
  color: turquoise;
}
.subtitle {
  padding: 30px;
}

input[type="text"],
button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.text_area {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b22b8a;
  color: white;
}

.button_form {
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
  background-color: aqua;
  box-shadow: 0 0 5px #00aced, 0 0 8px #00aced;
  border: none;
}
