@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.domanda {
  display: block;
  margin: 0 auto;
  color: white;
  max-width: 75%;
  font-size: 1.5rem;
  height: 200px;
}
.risposta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 1rem 2rem;
}

.benchmark h3 {
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 2rem;
  margin-top: 6.5rem;
}

.benchmark {
  text-align: center;
  color: white;
  margin: 0 7rem;
  margin-top: 15rem;
}
.risposta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 1rem 2rem;
}
.box {
  border: 3px outset white;
  border-radius: 35px;
  min-width: 20rem;
  min-height: 1.8rem;
  padding: 1.5rem;
  background-color: rgba(179, 177, 178, 0.12);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
}
.box:hover {
  background: linear-gradient(#d20094, #900080);
}
.box.selected {
  background: linear-gradient(#d20094, #900080);
}

.benchmark h3 {
  margin-bottom: 5rem;
}
h3 {
  font-size: 3rem;
  margin-top: 6.5rem;
}
.bold {
  font-weight: bold;
}
