body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.logo img {
  max-width: 150px;
  padding: 30px 100px;
}
.review {
  text-align: center;
  padding: 100px;
}
.review h3 {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

form p {
  font-size: 1.5rem;
  padding: 5px;
}

.stars {
  padding-bottom: 30px;
}

.stars img {
  padding: 5px;
}

.subtitle {
  padding: 30px;
  font-size: 1.2rem;
}

input[type="text"],
button {
  display: block;
  width: 50%;

  margin: 0 auto;
}
.text_area {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #b22b8a;
  color: white;
  margin: 0 auto 20px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.button {
  margin: 50px 0;
}

.button_form {
  width: 200px;
  height: 50px;
  margin: 20px auto;

  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 auto;
  display: block;
  background-color: aqua;
  box-shadow: 0 0 5px #00aced, 0 0 8px #00aced;
  border: none;
}
