body {
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo img {
  max-width: 10%;
}

.logo {
  margin: 30px 45px;
}

.container {
  margin: 50px;
  box-sizing: border-box;
  max-width: fit-content;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.container h3 {
  font-size: 80px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 20px;
}

ul > li {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.instructions h3 {
  color: #d20094;
  font-size: 30px;
  font-weight: bold;
}

.instructions {
  font-size: 16px;
}

.bottone {
  background-color: #00ffff;
  display: inline-block;
  color: black;
  padding: 15px 40px;
  font-weight: bold;
  box-shadow: 0 0 5px #00aced, 0 0 8px #00aced;
  cursor: pointer;
  margin-left: 300px;
}

input {
  display: inline-block;
  color: #2c3265;
}
.error {
  visibility: hidden;
}
.error-red {
  visibility: visible;
  text-decoration: underline;
  color: red;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Countdown */
@keyframes circletimer {
  0% {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}
svg {
  position: absolute;
  background-color: transparent;
  left: 90%;
  transform: translate(-50%, -50%) rotateZ(-90deg);
}
svg .circle {
  stroke: #15d3d3;
  stroke-width: 16;
  fill: transparent;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  animation: 60s circletimer linear;
}

#timer {
  position: absolute;
  top: 24%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: rgb(28, 178, 220);
  font-size: 42px;
  font-weight: 700;
}
