@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

/* Welcome */

body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

.logo img {
  max-width: 10%;
  
}

.logo{
  margin: 30px 45px ;
}

.container{
  margin: 50px;
  box-sizing: border-box;
  max-width: fit-content;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.container h3{
  font-size: 80px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1 ;
  margin-bottom: 20px;
  
}

ul{
  list-style: disc;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 20px;
}

ul>li {
  font-size: 16px;
  
}

.bold {
  font-weight: bold;
  
}

.instructions h3{
  color: #d20094;
  font-size: 30px;
  font-weight: bold;
}

.instructions {
  font-size: 16px;

}

.bottone{
  background-color: #00FFFF;
  display: inline-block;
  color: black;
  padding: 15px 40px ;
  font-weight: bold;
  box-shadow:  0 0 5px #00aced,  0 0 8px #00aced;
  cursor: pointer;
  margin-left: 30px;

}

input{
  display: inline-block;
  color: white;
  font-weight: normal;
}

.error {
  visibility: hidden;
}
.error-red {
  visibility: visible;
  text-decoration: underline;
  color: red;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* style2 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.benchmark {
  text-align: center;
  color: white;
  margin: 0 7rem;
}

.risposta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.5rem;
  gap: 1rem 2rem;
}
.box {
  border: 3px solid white;
  width: 15rem;
  border-radius: 30px;
  padding: 1rem 0;
  background-color: rgba(179, 177, 178, 0.12);
}
.box{
  border-width: 2px;
  border-style: solid;
  border-radius: 35px;
  min-width: 20rem;
  min-height: 1.8rem;
  padding: 1.5rem ;
  background-color: rgba(179, 177, 178, 0.12);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.box:hover {
  background: linear-gradient(#d20094, #900080)
}
.box.selected {
  background: linear-gradient(#d20094, #900080)
}
.benchmark h3{
  margin-bottom: 5rem;
}
h3{
font-size: 3rem;  
margin-top: 6.5rem;
}
.results {
  text-align: center;
  box-sizing: border-box;
}

.titolo {
  font-size: 3.5em;
  font-weight: bolder;
  margin-bottom: 0;
}
.summary {
  font-size: 2em;
  font-weight: lighter;
}
.stats {
  display: inline-flex;
  text-align: center;
  margin: 2em 0;
  line-height: 1;
}
.correct-wrong {
  font-size: 3.2em;
}
.num-questions {
  font-size: 1.2em;
}
.percentuale {
  font-weight: bold;
  font-size: 3.5em;
}

.wrong-destra {
  text-align: right;
}
.correct-sinistra {
  text-align: left;
}

.rate {
  font-size: 1.1em;
  font-weight: bolder;
  border: 2px solid white;
  padding: 1em 3em;
  max-width: 75px;
  margin: auto;
  box-shadow: 0 0 5px #3f256f, 0 0 8px #3f256f;
}

.review {
  text-align: center;
  padding: 100px;
}
.review h3 {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

form p {
  font-size: 1.5rem;
  padding: 5px;
}

.stars {
  padding-bottom: 30px;
}

.stars img {
  padding: 5px;
}

.subtitle {
  padding: 30px;
  font-size: 1.2rem;
}

input[type="text"],button {
  display: block;
  width: 50%;

  margin: 0 auto;
}
.text_area {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #b22b8a;
  color: white;
  margin: 0 auto 20px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.button {
  margin: 50px 0;
}

.button_form {
  width: 200px;
  height: 50px;
  margin: 20px auto;

  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 auto;
  display: block;
  background-color: aqua;
  box-shadow: 0 0 5px #00aced, 0 0 8px #00aced;
  border: none;
}

/*
 body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
 }
 #container-logo {
   margin-bottom: 15rem;
 }

 #container-logo img{
    max-width: 15%;
    max-height: 15%;
    margin-left: 3rem;
    margin-top: 2rem;
 }
 */

/* style3  */
/*
body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  box-sizing: border-box;
}
*/



/* style4  */
/*
body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
*/

@keyframes circletimer {
  0% {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}
svg {
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-90deg);
  
}
svg .circle {
  stroke: #15d3d3;
  stroke-width: 16;
  fill: transparent;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  animation: 60s circletimer linear;
}

#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(28, 178, 220);
  font-size: 42px;
  font-weight: 700;

}

#timer-container{

max-height: 200px;

}












/* CountDown */

